# URL Koneksi Langsung Backend PostgreSQL Supabase
DATABASE_URL="postgresql://postgres:Lenkk0nk***@db.jnlnkmhcmwjrdrzkdsbf.supabase.co:5432/postgres"

# Konfigurasi Supabase Client untuk Frontend (Vite)
VITE_SUPABASE_URL="https://jnlnkmhcmwjrdrzkdsbf.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_rdP4_QTGcpkZ85I4ngWRXA_ALpyR3h2"